* {
    margin: 0;
    font-family: Helvetica,sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
}

body {
    background: #0b1122;
    overflow: hidden;
}



/*HEADER CSS*/
.header{
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 -1px 0 0 #161d2c,inset 0 1px 0 0 #465376;
    background-image: linear-gradient(180deg,#3e4c6f,#28334e);
    height: 42px;
    padding: 0 25px;
}

.view-matches {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4px;
    overflow: hidden;
    flex-grow: 1;
}

.menu-left {
    box-sizing: border-box;
    border-left: 1px solid #0b1122;
    display: flex;
}

.menu-right {
    box-sizing: border-box;
    border-left: 1px solid #0b1122;
    display: flex;
}

.item {
    box-sizing: border-box;
    border-right: 1px solid #0b1122;
}

.tabs {
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 0 15px;
    line-height: 40px;
    border: 1px solid transparent;
    font-size: 13px;
    font-weight: 400;
    color: #d0d5df;
}

#active {
    color: #fff;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.14);
    background-image: linear-gradient(180deg,#2a5f9e,#3272a9);
    border: 1px solid #2c99d4;
}

/*MATCH CSS*/
#matches {
    height: 50%;
}

.matches-header {
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding: 0 20px;
    background-color: #1f2840;
    display: flex;
    box-shadow: none;
    position:relative;
    z-index:1;
}

.dropdown-filters {
    position: relative;
    margin-left: 15px;
}

.dropdown-list {
    position: absolute;
    z-index: 20;
    background: #313a57;
    top: calc(100% + 5px);
    width: 450px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,.77);
    background-color: #1a2339;
    right: 0;
}

.grad-filter {
    vertical-align: baseline;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: rgba(59,72,105,.4);
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    height: 26px;
    border-radius: 3px;
    transition: all .1s linear;
    border: 1px solid #0b1122;
    width: 26px;
}

.btns {
    display: flex;
}

.button-wrapper {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    justify-content: center;
    display: flex;
    align-items: center;
}



/*RECOGNITION BLOCK CSS*/
@font-face {
    font-family: "Nimbus";
    src: url("font/NimbusSanL-Reg.otf");
}

#recognition-list {
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}

.recognition, .info-recognition, .white-recognition {
    display: grid;
    grid-template-columns: 390px auto;
    padding: 10px 5px 10px 5px;
    margin: 2px;
}


.recognition {
    background-color: #2c2730;
    border: 1px solid #cc46467e;
}
.info-recognition {
    background-color: #29334c;
    border: 1px solid #424f78;
}
.white-recognition {
    background-color: #24313f;
    border: 1px solid #345c4f;
}


.recognition:hover {
    background-color: #2e2428;
    border-color: #ce5351;
}
.info-recognition:hover {
    background-color: #24304d;
    border-color: #5774cf;
}
.white-recognition:hover {
    background-color: #1f3143;
    border-color: #398a6f;
}


.recognition .watchlist-image {
    background-color:#cc4646;
    text-align: center;
}
.info-recognition .watchlist-image {
    background-color:#5774cf;
    text-align: center;
}
.white-recognition .watchlist-image {
    background-color:#4ba56e;
    text-align: center;
}


.recognition circle {
    fill: #d35959;
}
.info-recognition circle {
    fill: #2c99d4;
}
.white-recognition circle {
    fill: #55d290;
}


.software-images {
    display: flex;
}


.recognition-image, .watchlist-image {
    background-color: #242c42;
    margin: 10px;
    width: 160px;
    height: 184px;
    display: inline-block;
    padding: 5px 5px 0px 5px;
    border: 1px solid #0b112298;
}

.watchlist-image img, .recognition-image img{
    width: 159px;
    height: 159px;
}


.recognition-info1 {
    margin: 2px 0px 0 0;
    display: grid;
    grid-template-rows: repeat(5, 30px);
    grid-template-areas: 
    "header . btnMore"
    "camera . ."
    "operatorList . ."
    "operator . ."
    "info . mediaBtn";
    row-gap: 2px;
}

.recognition-info2 {
    margin: 2px 0px 0 0;
    display: grid;
    grid-template-rows: repeat(5, 30px);
    grid-template-areas: 
    "header . ."
    "camera . ."
    "operator . ."
    "operatorList . .";
    row-gap: 2px;
}

.recog-title {
    font-family: "Nimbus";
    font-size: 12px;
    color: #f1f0f0;
}


.recognition-button, .recognition-button2 {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #3b4467;
    font-family: "Nimbus";
    font-size: 12px;
    color: #f1f0f0;
    cursor: pointer;
    border: 1px solid #0b1122;
    border-radius: 3px;
    width: auto;
    height: 32px;
    padding: 0 10px;
}

.recognition-button2 {
    height: 23px;
}

.recognition-button:hover, .recognition-button2:hover {
    background-color: #485379;
}

/*Sem Botão de Lista no Recognition*/
.recognition-button2 {
    cursor: auto;
}

.circle {
    width: 15px;
    height: 15px;
}

.recog-btn-txt {
    margin-left: 10px;
    font-family: "Nimbus";
    font-size: 12px;
    color: #f1f0f0;
}

.person-name, .operator-list, .recognition-camera, .recognition-date  {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
}

.recognition-date {
    grid-area: header;
}

.icon-more {
    grid-area: btnMore;
    place-self: center flex-end;
    cursor: auto;
    /*Sem botão adicional Recognition History*/
    /*cursor: pointer;*/
    padding: 15px;
}

.recognition-camera {
    grid-area: camera;
}

.operator-list {
    grid-area: operatorList; 
    grid-template-columns: 30px 110px;
}

.person-name {
    grid-area: operator;
}

.info-button {
    grid-area: info;
    place-self: center flex-start;
}

.video-buttons {
    grid-area: mediaBtn;
    place-self: center flex-end;
    display: flex;
    column-gap: 10px;
    float: right;
    margin: 15px;
}


/*SCROLL BAR*/
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0b1122; 
    margin: 5px 0 15px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #242c42; 
    border-radius: 10px;
}
  